label#thumbnail {
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height: 160px;
    /* esses três comandos é para deixar o ícone da camera centralizado */
    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail input {
    display: none;
}

label#thumbnail.has-thumbnail {
    border: 0; /* tira a borda da imagem quando for dado um preview */
}

label#thumbnail.has-thumbnail img {
    display: none; /* tira o icone da camera quando for dado um preview */
}